a {
  text-decoration: none;
}

@font-face {
  font-family: Georgia;
  src: url(/assets/fonts/Georgia/Georgia.ttf);
}

body {
  margin: 0;
}

.puppy {
  margin-left: 42px;
}

.hidden-el {
  text-indent: -9999px;
}

.burger {
  display: none;
}

.burger-menu {
  display: none;
}

.slider-button {
  display: none;
}

.main-block {
  padding-top: 60px;
  margin: 0 auto;
  width: 1280px;
  height: 848px;
  background-image: url(./assets/img/start_screen/start-screen-gradient-background.png);
}

header {
  width: 1200px;
  height: 60px;
  margin-left: 40px;
  display: flex;
}

.start-screen-content {
  width: 1200px;
  height: 728px;
  margin-top: 60px;
  margin-left: 40px;
  display: flex;
  overflow: hidden;
}

.logo {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  transition: 0.5s ease;
}

.logo-title {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  padding-left: 4px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: 0.5s ease;
}

nav {
  margin-left: 573px;
  margin-top: 16px;
  margin-bottom: 17px;
}

.nav-button {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  margin-right: 30px;
}

.nav-unactive{
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  margin-right: 30px;
}

.last {
  margin-right: 0px;
}

.bm {
  margin: 0;
  border-bottom: solid #646464;
  padding-bottom: 10px;
}

.nav-button:hover {
  cursor: pointer;
  color: #fafafa;
  border-bottom: solid #fafafa;
  padding-bottom: 4px;
}

.nav-button-default {
  cursor: pointer;
  color: #fafafa;
  border-bottom: solid #fafafa;
  padding-bottom: 4px;
}

.start-screen-title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 130%;
  color: #ffffff;
  margin-top: 163px;
  width: 310px;
}

.start-screen-text {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  width: 460px;
}

.button-primary {
  cursor: pointer;
  background: #f1cdb3;
  border-radius: 100px;
  width: 207px;
  height: 52px;
  margin-top: 41px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  text-align: center;
  line-height: 52px;
}

.button-primary:hover {
  background: #fddcc4;
}

.about-the-shelter {
  width: 1280px;
  height: 508px;
  margin: 0 auto;
}

.about-content {
  width: 1200px;
  height: 408px;
  margin-top: 80px;
  margin-left: 40px;
  display: flex;
}

.about-image {
  margin-left: 175px;
}

.about-article {
  margin-left: 120px;
  margin-top: 14px;
  width: 430px;
  height: 380px;
}

h3 {
  margin-top: 0;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.about-h {
  width: 370px;
  margin-bottom: 0;
}

.about-p {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  margin-top: 25px;
  color: #4c4c4c;
}

.pets {
  margin: 0 auto;
  width: 1280px;
  height: 795px;
  padding-top: 80px;
  background-color: #f6f6f6;
}

.pets-content {
  width: 1200px;
  height: 697px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pets-h {
  margin: 0 auto;
  width: 400px;
  height: 90px;
  text-align: center;
}
.slider-cards {
  display: flex;
}
.pets-slider {
  width: 1200px;
  height: 435px;
  margin-top: 60px;
  display: flex;
  align-items: center;
}

.pets-slider-left {
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
  display: flex;
  align-items: center;
  margin-right: 53px;
}

.slider-arrow {
  display: block;
  margin: auto;
}

.pets-slider-left:hover {
  cursor: pointer;
  background-color: #f1cdb3;
}

.pets-slider-card {
  height: 435px;
  width: 270px;
  background-color: #fafafa;
  border-radius: 9px;
  margin-right: 90px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pets-slider-card:hover {
  box-shadow: 0 0 20px rgba(71, 70, 70, 0.5);
}

.arrow-right {
  transform: scale(-1, 1);
}

.pets-slider-right {
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
  display: flex;
  align-items: center;
  margin-right: 0px;
  margin-left: -37px;
}

.pets-slider-right:hover {
  cursor: pointer;
  background-color: #f1cdb3;
}

.pets-card-title {
  margin-top: 30px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.pets-card-button {
  cursor: pointer;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
  width: 187px;
  height: 52px;
  margin-top: 10px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  text-align: center;
  line-height: 52px;
}

.pets-card-button:hover {
  background-color: #f1cdb3;
}

.pets-main-button {
  cursor: pointer;
  background: #f1cdb3;
  border-radius: 100px;
  width: 261px;
  height: 52px;
  margin-top: 60px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  text-align: center;
  line-height: 52px;
}

.pets-main-button:hover {
  background: #fddcc4;
}

.help {
  margin: 0 auto;
  width: 1280px;
  height: 534px;
}

.help-content {
  margin-top: 80px;
  margin-left: 40px;
  width: 1200px;
  height: 431px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help-h {
  white-space: nowrap;
  text-align: center;
  width: 308px;
  height: 90px;
}

.first-line-items {
  width: 1200px;
  margin-left: 150px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50px;
  align-items: center;
  justify-content: center;
}

.help-firstline {
  margin-right: 130px;
  height: 113px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help-title {
  margin-top: 30px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.help-secondline {
  height: 113px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-right: 130px;
}

.donation {
  margin: 0 auto;
  padding-top: 80px;
  width: 1280px;
  height: 382px;
  background-color: #f6f6f6;
}

.donation-content {
  margin-left: 183px;
  width: 915px;
  height: 282px;
  display: flex;
}

.donation-dog {
  margin-top: 9px;
  margin-left: -3px;
  width: 505px;
  height: 261px;
}

.donation-article {
  width: 380px;
  height: 282px;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.donation-title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: -15px;
}

.donation-bank-form {
  width: 335px;
  height: 43px;
  margin-top: -5px;
  padding-left: 15px;
  border-radius: 9px;
  background-color: #f1cdb3;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation-bank-form:hover {
  background-color: #fddcc4;
}

.donation-text {
  margin-top: 10px;
}

.donation-text-content {
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}

footer {
  display: flex;
  width: 1280px;
  height: 350px;
  margin: 0 auto;
  background-image: url(./assets/img/footer/footer-gradient-background.png);
}

.contacts {
  width: 278px;
  height: 234px;
  margin-left: 40px;
  margin-top: 56px;
}

.adress {
  width: 302px;
  height: 234px;
  margin-left: 160px;
  margin-top: 56px;
}

.footer-puppy {
  width: 300px;
  height: 310px;
  margin-left: 160px;
  margin-top: 38px;
  overflow: hidden;
}

.h3-footer {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
  white-space: nowrap;
}

.contacts-line {
  display: flex;
  align-items: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.contacts-line-text {
  padding-left: 20px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .main-block {
    width: 768px;
    height: 1165px;
    overflow: hidden;
    background-size: cover;
  }

  header {
    width: 708px;
    height: 60px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
  }

  nav {
    margin-left: 81px;
  }
  .start-screen-content {
    width: 569px;
    height: 1015px;
    margin-top: 60px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
  }
  .start-screen-title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 130%;
    color: #ffffff;
    width: 310px;
    margin-top: 15px;
    margin-left: 0;
  }

  .start-screen-text {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    color: #cdcdcd;
    width: 460px;
  }
  .button-primary {
    margin: 42px auto auto;
  }
  .start-screen-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
  .puppy {
    margin-left: 90px;
    width: 569px;
    height: 593px;
  }
  .about-the-shelter {
    width: 768px;
    height: 1048px;
    margin: 0 auto;
  }

  .about-content {
    width: 437px;
    height: 868px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column-reverse;
  }

  .about-image {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  .about-article {
    margin-top: 14px;
    width: 430px;
    height: 380px;
    margin-left: auto;
    margin-right: auto;
  }
  .pets {
    width: 768px;
    height: 777px;
  }
  .pets-content {
    width: 708px;
    height: 697px;
    margin: 0 auto;
  }
  .pets-slider {
    width: 708px;
    height: 435px;
    justify-content: space-between;
  }
  .pets-slider-card:nth-child(4) {
    display: none;
  }
  .pets-slider-left {
    margin-right: 12px;
  }
  .pets-slider-right {
    margin-left: 12px;
  }
  .pets-slider-card {
    margin-left: 0;
    margin-right: 0;
  }
  .help {
    width: 768px;
    height: 680px;
  }
  .help-content {
    margin: 80px auto;
    width: 630px;
    height: 599px;
  }

  #help-item-petfood {
    grid-area: help-item-petfood;
  }
  #help-item-transportation {
    grid-area: help-item-transportation;
  }
  #help-item-toys {
    grid-area: help-item-toys;
  }
  #help-item-bowls {
    grid-area: help-item-bowls;
  }
  #help-item-shampoos {
    grid-area: help-item-shampoos;
  }
  #help-item-vitamins {
    grid-area: help-item-vitamins;
  }
  #help-items-medicines {
    grid-area: help-items-medicines;
  }
  #help-items-cpllars {
    grid-area: help-items-cpllars;
  }
  #help-items-areas {
    grid-area: help-items-areas;
  }
  .first-line-items {
    margin: 0 auto;
    width: 630px;
    height: 449px;
    display: grid;
    grid-template-areas:
      "help-item-petfood help-item-transportation help-item-toys"
      "help-item-bowls help-item-shampoos help-item-vitamins"
      "help-items-medicines help-items-cpllars help-items-areas";
  }
  .help-firstline {
    margin-right: 0;
  }
  .help-secondline {
    margin-right: 0;
  }
  .donation {
    width: 768px;
    height: 783px;
  }
  .donation-content {
    margin: 0 auto;
    width: 768px;
    height: 783px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .donation-dog {
    margin-bottom: 100px;
    margin-top: 50px;
  }
  footer {
    display: flex;
    width: 768px;
    height: 639px;
    margin: 0 auto;
    background-image: url(./assets/img/footer/footer-gradient-background.png);
    background-size: cover;
    flex-wrap: wrap;
  }

  .contacts {
    width: 278px;
    height: 234px;
    margin-left: 40px;
    margin-top: 56px;
  }

  .adress {
    width: 302px;
    height: 234px;
    margin-left: 120px;
    margin-top: 56px;
  }

  .footer-puppy {
    width: 300px;
    height: 310px;
    margin-left: 230px;
    margin-top: 40px;
    overflow: hidden;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .main-block {
    width: 320px;
    height: 770px;
    overflow: hidden;
    background-size: cover;
  }

  header {
    width: 257px;
    height: 60px;
    margin-top: -40px;
    margin-left: 10px;
    margin-right: 53px;
    display: flex;

  }

  .burger {
    margin-top: 20px;
    display: inline;
    margin-left: 40px;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    position: fixed;
    left: 10px;
    right: 10px;
    top: 100px;
    z-index: 555;
    margin: 0 auto;
    width: 300px;
    overflow: hidden;
    height: 0px;
    transition: 0.5s ease;
    background-image: url(./assets/img/start_screen/start-screen-gradient-background.png);
    opacity: 0.95;
  }

  nav {
    display: none;
    margin-left: 81px;
  }
  .start-screen-content {
    width: 300px;
    height: 673px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
  }
  .start-screen-title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    width: 300px;
    margin-top: 15px;
  }

  .start-screen-text {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    color: #cdcdcd;
    width: 300px;
    text-align: center;
  }

  .start-screen-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    align-items: center;
  }
  .puppy {
    margin-left: 50px;
    width: 260x;
    height: 272px;
  }
  .about-the-shelter {
    width: 320px;
    height: 974px;
    margin: 0 auto;
  }

  .about-content {
    width: 300px;
    height: 890px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column-reverse;
  }

  .about-image {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .about-h {
    font-size: 25px;
    text-align: center;
    width: 280px;
    margin-bottom: 20px;
  }

  .about-p {
    width: 280px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: justify;
  }

  .about-article {
    padding-top: 20px;
    width: 300px;
    height: 494px;
    margin-left: auto;
    margin-right: auto;
  }

  .pets {
    width: 320px;
    height: 791px;
  }
  .pets-h {
    font-size: 25px;
    width: 300px;
  }

  .pets-content {
    width: 300px;
    height: 707px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pets-slider {
    width: 270px;
    height: 507px;
    margin-bottom: 20px;
  }

  .pets-slider > .pets-slider-left {
    display: none;
  }

  .pets-slider > .pets-slider-right {
    display: none;
  }

  .slider-button {
    margin: 0 auto;
    width: 184px;
    height: 52px;
    justify-content: space-between;
    display: flex;
  }
  .pets-main-button {
    margin-top: 20px;
  }

  .pets-slider-card:nth-child(4) {
    display: none;
  }
  .pets-slider-card:nth-child(3) {
    display: none;
  }
  .pets-slider-left {
    margin-right: 12px;
  }
  .pets-slider-right {
    margin-left: 12px;
  }
  .pets-slider-card {
    margin-left: 0;
    margin-right: 0;
  }
  .help {
    width: 320px;
    height: 745px;
  }

  .help-h {
    font-size: 25px;
    width: 220px;
  }
  .help-content {
    margin: 25px auto;
    margin-bottom: 0;
    width: 320px;
    height: 745px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #help-item-petfood {
    grid-area: help-item-petfood;
  }
  #help-item-transportation {
    grid-area: help-item-transportation;
  }
  #help-item-toys {
    grid-area: help-item-toys;
  }
  #help-item-bowls {
    grid-area: help-item-bowls;
  }
  #help-item-shampoos {
    grid-area: help-item-shampoos;
  }
  #help-item-vitamins {
    grid-area: help-item-vitamins;
  }
  #help-items-medicines {
    grid-area: help-items-medicines;
  }
  #help-items-cpllars {
    grid-area: help-items-cpllars;
  }
  #help-items-areas {
    grid-area: help-items-areas;
  }
  .first-line-items {
    margin: 0 auto;
    width: 290px;
    height: 555px;
    display: grid;
    justify-content: space-between;
    grid-template-areas:
      "help-item-petfood help-item-transportation"
      "help-item-toys help-item-bowls"
      "help-item-shampoos help-item-vitamins"
      "help-items-medicines help-items-cpllars"
      "help-items-areas help-items-areas";
  }
  .help-firstline {
    margin: 0;
  }
  .help-title {
    font-size: 15px;
    margin-top: 20px;
  }

  .help-secondline {
    margin: 0;
  }
  .donation {
    width: 320px;
    height: 543px;
    padding: 0;
    padding-top: 0px;
  }

  .donation-content {
    margin: 0 auto;
    width: 320px;
    height: 543px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .donation-dog {
    width: 260px;
    height: 135px;
    margin-bottom: 50px;
  }

  .donation-dog > img {
    width: 260px;
    height: 135px;
  }
  .donation-bank-form {
    width: 281px;
    font-size: 15px;
  }

  .donation-article {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .donation-text {
    width: 280px;
    text-align: justify;
  }
  .donation-h {
    font-size: 25px;
    text-align: center;
    width: 300px;
  }

  .donation-title {
    font-size: 14px;
    width: 300x;
    text-align: center;
  }

  footer {
    display: flex;
    width: 320px;
    height: 899px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    background-image: url(./assets/img/footer/footer-gradient-background.png);
    background-size: cover;
  }

  .contacts {
    width: 278px;
    height: 234px;
    margin-left: 0;
    margin-top: 30px;
  }

  footer > .adress > .h3-footer {
    text-align: center;
  }
  footer > .contacts > .h3-footer {
    text-align: center;
  }
  .adress {
    width: 302px;
    height: 234px;
    margin-left: 0;
    margin-top: 56px;
  }

  .footer-puppy {
    width: 300px;
    height: 310px;
    margin-left: 0;
    margin-top: 40px;
    overflow: hidden;
  }
}
